<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csust.springboot.mapper.IStudentDao">
    <update id="updateByPrimaryKey" parameterType="com.csust.springboot.entitys.Student">
        update student set name = #{name}, age = #{age}, score = #{score} where id = #{id}
    </update>
</mapper>