<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf中的常见属性</title>
</head>
<body>
    <p>=========th:action===========</p>
    <form th:action="@{/boot/login}" method="get">
    </form>

    <p>==========th:each   遍历List=============</p>
    <p th:each="item, itemStat : ${userList}">
        <span th:text="${itemStat.count}"></span>
        <span th:text="${item.id}"></span>
        <span th:text="${item.nick}"></span>
        <span th:text="${item.phone}"></span>
        <span th:text="${item.address}"></span>
    </p>

    <p>==========th:each   遍历Map=============</p>
    <p th:each="entry : ${map}">
        <span th:text="${entry.key}"></span>
        <span th:text="${entry.value.id}"></span>
        <span th:text="${entry.value.nick}"></span>
        <span th:text="${entry.value.phone}"></span>
        <span th:text="${entry.value.address}"></span>
    </p>

    <p>==========th:id=============</p>
    <input th:id="${user.id}" type="text">

    <p>==========th:name=============</p>
    <input type="text" th:name="${user.nick}"/>

    <p>==========th:if  满足判断条件时才显示该标签=============</p>
    <span th:if="${sex == 1}">男</span>
    <span th:if="${sex == 2}">女</span>

    <p>==========th:switch/th:case=============</p>
    <div th:switch="${sex}">
        <p th:case="1">性别：男</p>
        <p th:case="2">性别：女</p>
        <p th:case="*">性别未知</p>
    </div>


    <p>==========th:value=============</p>
    <input type="text" th:value="${user.nick}">

    <p>==========th:inline 取值为text时为文本内联=============</p>
    <span th:inline="text">
        [[${user.nick}]]
    </span>

    <script type="text/javascript" th:inline="javascript">
        let phone = [[${user.phone}]]
    </script>

</body>
</html>